$lightGray: #f5fbfc;
$mediumGray: #999999;
$darkGray: #2f353f;
$green: #a9e250;
$blue: #3ba8fc;


@mixin blueGradient() {
	background: rgb(96,120,219);
	background: -moz-linear-gradient(45deg,  rgba(96,120,219,1) 0%, rgba(59,168,252,1) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(96,120,219,1)), color-stop(100%,rgba(59,168,252,1)));
	background: -webkit-linear-gradient(45deg,  rgba(96,120,219,1) 0%,rgba(59,168,252,1) 100%);
	background: -o-linear-gradient(45deg,  rgba(96,120,219,1) 0%,rgba(59,168,252,1) 100%);
	background: -ms-linear-gradient(45deg,  rgba(96,120,219,1) 0%,rgba(59,168,252,1) 100%);
	background: linear-gradient(45deg,  rgba(96,120,219,1) 0%,rgba(59,168,252,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6078db', endColorstr='#3ba8fc',GradientType=1 );
}