@import "constants";

.file-viewer {
	background:#fff;
	max-width:600px;
	.file-header, .file-item, .file-footer {
		padding:10px;
		h5, p {
			margin:0;
		}
	}
	.file-header {
		border-bottom:1px solid $lightGray;
	}
	.file-item {
		cursor:pointer;
		transition:background-color 0.125s ease-out;
		&:hover {
			background-color:darken(#fff, 1%);
		}
		&.file-directory {
			border-bottom:1px solid $lightGray;
		}
		&.file-single {

		}

	}
	.file-footer {
		p {
			font-size:12px;
		}
	}
}