<div ng-cloak>
  <div class="history-bar">
    <div class="breadcrumb" ng-repeat="crumb in breadcrumbs">
      <h6 class="breadcrumb" ng-click="navigateTo(crumb)">
        {{crumb.name}}
        <div class="breadcrumb" ng-hide="$last"> > </div>
      </h6>
    </div>
    <a class="add-new" href="#files/{{source.id}}/course_materials/new">+ Add Course Material</a>
  </div>

  <div ng-show="source.course_materials.empty()">
    <div file-viewer="source"></div>
  </div>

  <div class="file-container" ng-hide="source.course_materials.empty()">
    <div class="file-viewer">
      <div class="file-header">
        {{source.name}}
      </div>

      
      <div ng-repeat="childNode in source.course_materials">
        <div  ng-show="childNode.filetype == 'directory'" class="file-item file-directory">
          <img width="15" src="images/file.svg" alt="">
          <span class="file-title">{{childNode.name}}</span>
          <span class="right"><img ng-click="forkItem(childNode)" width="15" src="images/plus.svg" alt=""></span>
        </div>
        <div ng-hide="childNode.filetype == 'directory'" class="file-item file-single">
          <img width="15" src="images/folder.svg" alt="">
          <span ng-click="appendSource(childNode)" class="file-title">{{childNode.name}}</span>
          <span class="right"><img ng-click="forkItem(childNode)" width="15" src="images/plus.svg" alt=""></span>
        </div>
      </div>
      <div class="file-footer"></div>
    </div>
    <div class="file-fork">
      
    </div>
  </div>
</div>
