<div>
  <div class="history-bar">
    <div class="breadcrumb" ng-repeat="crumb in breadcrumbs">
      <h6 class="breadcrumb" ng-click="navigateTo(crumb)">
        {{crumb.name}}
        <div class="breadcrumb" ng-hide="$last"> > </div>
      </h6>
    </div>
    <a href="#files/{{source.id}}/course_materials/new"><button style="float:right;">Add Course Material</button></a>
  </div>

  <div ng-hide="source.course_materials.empty()" 
       ng-repeat="childNode in source.course_materials">
    <div file-in-tree="childNode" ng-click="appendSource(childNode)"></div>
  </div>

  <div ng-show="source.course_materials.empty()">
    <div file-viewer="source"></div>
  </div>
</div>
